$black: #333;

$primary-color: rgba(198,0,0,1);
$primary-color_80: rgba(198,0,0,.8);
$primary-color-dark-1: rgba(150, 0, 0, 1);
$primary-color-dark-1_80: rgba(150, 0, 0, .8);
$primary-color-light-1: rgba(210, 50, 50, 1);
$primary-color-light-2: rgba(220, 100, 100, 1);

$gray_15: rgba(0,0,0,0.15);
$gray_25: rgba(0,0,0,0.25);
$gray_45: rgba(0,0,0,0.45);
$gray_60: rgba(0,0,0,0.6);
$white_10: rgba(255,255,255,0.1);
$white_30: rgba(255,255,255,0.3);
$white_50: rgba(255,255,255,0.5);
$white_70: rgba(255,255,255,0.7);
$white_80: rgba(255,255,255,0.8);
$white: rgba(255,255,255,.9);

@mixin chizel-line {
  border-bottom: 1px solid rgba(255,255,255,0.05);
  box-shadow: 0 -1px 0 rgba(0,0,0,.15) inset;
}

@mixin dropshadow {
  box-shadow: 0 1px 4px $gray_15;
}

@mixin dropshadow-big {
  box-shadow: 0 4px 15px $gray_45;
}

@mixin inner-shadow-big {
  box-shadow: 0 4px 10px $gray_25 inset;
}

@mixin transition {
  transition: all 0.3s ease;
}

$title-font: 'Fira Sans', sans-serif;
$text-font: Georgia, 'Times New Roman', serif;
$sans-serif-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

