---
title: About
layout: default
permalink: /about/
---
<section class="b-content-section">
  <div class="row">
    <div class="column">
      <h2 class="e-section-title">About</h2>
      <p>Founded in 2011, OpenNorth started as a small nonprofit with expertise in open data, open government, community engagement, and civic technology. Today OpenNorth’s expanding interdisciplinary team leads multi-stakeholder partnerships internationally on implementation of open smart cities that do more than just utilize data and networked infrastructure to make decisions. We work with the largest, most progressive, and connected cities to build their efficient and ethical use of data and technology to solve urban problems. We build global peer-to-peer networks for knowledge sharing that improves smart city governance practices for citizens across Canada and the world.</p>
		</div>
	</div>
	<div class="row">
		<div class="column">
      <h3>A Step Ahead</h3>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<h4>Pillar 1: Community Support for Smart City Implementation</h4>
			<p>We work collaboratively from local-to-global levels to offer solutions to smart city challenges as a firmly embedded member of the civic technology community. We are a hub that connects the global open data and open government networks to Canadian and international open smart cities to enhance effective knowledge sharing, collaboration, and interoperability.</p>
			<h4>Pillar 2: Applied Research to Solve Urban Problems</h4>
			<p>We bridge geographic and cultural divides to develop applied research that solves real problems municipalities face in facilitating public consultations, managing new forms of data, combating homelessness, and providing municipal services. We build peer-to-peer collaborative knowledge sharing networks and work with governments around the world. Our work involves real empirical evidence derived through technology-based social science research to improve smart city governance.</p>
			<h4>Pillar 3: Local-to-Global Scaling Up of Services</h4>
			<p>We convene international stakeholders in the belief that complex urban problems require diverse perspectives as well as collaboration across sectors and contexts. Our scaling up of local work supports governments globally as they undertake the organizational changes needed to implement open smart city solutions that combat persistent urban problems.</p>
		</div>
	</div>
</section>

{% include call-to-action.html %}

<section class="b-content-section b-people" id="team">
  <div class="row">
    <div class="column">
      <h2 class="e-section-title">Our Team</h2>
      <p class="text-center">Our dynamic team is comprised of people with experience in all sectors, with specialized expertise in government, strategic and operational planning, access to information, information technology, private sector, data standards creation, applied research international development, policy development, and software development.</p>
    </div>

    {% for person in site.data.staff %}
    <div class="medium-4 small-6 columns{% if forloop.last %} end{% endif %}">
      <div class="b-card m-team">
        <div class="e-card-picture" style="background-image: url('{{ site.baseurl }}/theme/img/people/{{ person.name | slugify }}.jpg')">
          {% if person.linkedin %}
          <a class="b-social-media" href="{{ person.linkedin }}"><i class="fa fa-lg fa-linkedin"></i></a>
          {% endif %}
          {% if person.url %}
          <a class="b-social-media" href="{{ person.url }}"><i class="fa fa-lg fa-link"></i></a>
          {% endif %}
        </div>
        <div class="e-card-content">
          <h3>{{ person.name }}</h3>
          <h4>{{ person.role | markdownify}}</h4>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="b-content-section b-people" id="advisors">
 <div class="row">
   <div class="column">
     <h2 class="e-section-title">Advisors</h2>
   </div>

    {% for person in site.data.advisors %}
    <div class="medium-4 small-6 columns{% if forloop.last %} end{% endif %}">
      <div class="b-card m-team">
        <div class="e-card-picture" style="background-image: url('{{ site.baseurl }}/theme/img/people/{{ person.name | slugify }}.jpg')">
          {% if person.linkedin %}
          <a class="b-social-media" href="{{ person.linkedin }}"><i class="fa fa-lg fa-linkedin"></i></a>
          {% endif %}
          {% if person.url %}
          <a class="b-social-media" href="{{ person.url }}"><i class="fa fa-lg fa-link"></i></a>
          {% endif %}
        </div>
        <div class="e-card-content">
          <h3>{{ person.name }}</h3>
          <h4>{{ person.role | markdownify}}</h4>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="b-content-section b-people" id="board">
 <div class="row">
   <div class="column">
     <h2 class="e-section-title">Board &amp; Founder</h2>
   </div>

   {% for person in site.data.board %}
   <div class="medium-4 small-6 columns{% if forloop.last %} end{% endif %}">
     <div class="b-card m-team">
       <div class="e-card-picture" style="background-image: url('/theme/img/people/{{ person.name | slugify }}.jpg')">
         {% if person.linkedin %}
         <a class="b-social-media" href="{{ person.linkedin }}"><i class="fa fa-lg fa-linkedin"></i></a>
         {% endif %}
         {% if person.url %}
         <a class="b-social-media" href="{{ person.url }}"><i class="fa fa-lg fa-link"></i></a>
         {% endif %}
       </div>
       <div class="e-card-content">
         <h3>{{ person.name }}</h3>
         {% if person.summary %}
         <h4>{{ person.summary  | markdownify }}</h4>
         {% endif %}
         <h4>{{ person.role  | markdownify }}</h4>
       </div>
     </div>
   </div>
   {% endfor %}
 </div>
</section>
