---
title: Applied Research Lab
layout: default
permalink: /applied-research-lab/
---
<section class="b-title-section current">
	<div class="row">
		<div class="column">
			<h2 class="e-page-title">Applied Research Lab</h2>
			<p class="text-center">Applied research at OpenNorth means social science methods that provide insight into problems public institutions face. Our work at Open North’s Applied Research Lab includes the synthesis and mobilisation of knowledge and theory through research based in practical data and governance issues.</p>
		</div>
	</div>
</section><!-- /.b-title-section -->

<section class="b-content-section">
	<div class="row">
		<div class="column">
			<h3>What is Applied Research?</h3>
			<p>At OpenNorth our work requires that we that we investigate how governments from local-to-global scales structure public data and allow for the creation of data ecosystems. Applied research means taking existing theories and methods and testing them with public institutions to deliver practical guidance and outcomes.</p>
			<P>The creation of the Applied Research Lab reflected OpenNorth’s research-based mindset that emphasizes the development of evidence to support and inform organizational work at all governmental scales. The practical situations faced by governments and citizens around the world ground the research we do.</P>
			<h3>OpenNorth’s Applied Research Lab</h3>
			<p>Integration of research objectives into OpenNorth’s projects makes our work about building the right skills in governmental and public institutions that improve their ability to collect, manage, and analyse data. The Applied Research Lab uses empirical mixed methods research to build the capacity of governments, nonprofits, and other institutions to work with new forms of geospatial open data.</p>
			<p>Our team possesses an interdisciplinary background in urban planning, international development, economics, and human geography. This enables the application of diverse analytical lenses to develop concrete deliverables important to public institutions. We partner with international organizations to make our local experience and expertise relevant and bring back knowledge to our community. In so doing, we contribute to the creation of research-based knowledge networks at a variety of scales.</p>
			<p>As the core pillar of OpenNorth’s future work, applied research places emphasis on creating practical outcomes for problems institutions and communities face in facilitating data collection, bridging organisational silos, and structuring multi-stakeholder data collaboration. The Applied Research Lab helps the organization to work in different international contexts by building tailored capacity programs that engage national and local stakeholders undergoing organizational change.</p>
			<p>To achieve all of its goals, the lab uses quantitative and qualitative methods to further data management, governance, interoperability, and engagement. The Applied Research Lab offers a wide variety of services and products that improve governance and civic participation. Partners throughout the world at local, regional, and national scales benefit from our ability to use empirical findings to improve governmental capacity to adopt innovation, data, and connected technology.</p>
		</div>
		<hr>
	</div>
</section><!-- .b-content-section -->

{% comment %} Team Section {% endcomment %}
<section id="arl" class="b-content-section b-people team-unit">
  <div class="row">
    <div class="column">
      <h2 class="e-section-title">Applied Research Lab Team</h2>
      <!--p class="text-center">Optional team intro text here.</p-->
    </div><!-- .column -->

		{% include team-list.html people="staff" unit="applied research lab" bio=true %}

	</div><!-- .row -->
	<!-- remove this comment to show research collaborators section
	<div class="row">
		<div class="column">
			<h2 class="e-section-title">Research Collaborators</h2>
			<p class="text-center">Optional team intro text here.</p>
		</div>

		{% include team-list.html people="research-collaborators" unit="applied research lab" bio=true %}

	</div> end of comment -->
</section>

{% comment %} Related Posts Section {% endcomment %}
<div class="background-subtle">
	<section class="b-content-section b-blog featured-list">
		<div class="row">
			<div class="column">
				<h2 class="e-section-title">Recent Posts</h2>
			</div>
		</div>

		<div class="row">
			<div>
				{% assign posts = site.posts | where: "categories", "applied research lab" %}
				{% for post in posts limit:5 %}

					{% include blog-list-article.html %}

				{% endfor %}

				<nav>
					<p class="navigation"><a href="/blog">Read more posts from Open North</a></p>
				</nav>
			</div>
		</div><!--.row-->

	</section>
</div>
