---
title: Applied Research Lab
layout: default
permalink: /applied-research-lab/
---
<section class="b-title-section current">
	<div class="row">
		<div class="column">
			<h2 class="e-page-title">Applied Research Lab</h2>
			<p class="text-center">Intro paragraph here</p>
		</div>
	</div>
</section><!-- /.b-title-section -->

<section class="b-content-section">
	<div class="row">
		<div class-"column">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lobortis nisi eget dui fringilla, finibus mollis purus varius. Aliquam at massa lacus. Nam in viverra dolor. Phasellus vel rutrum neque. Suspendisse pulvinar augue id orci pulvinar, sed mattis nunc vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris consectetur nec tortor nec placerat. Morbi sed metus tristique tellus fermentum luctus iaculis in dui. Etiam sed urna eu lacus semper efficitur pulvinar quis ligula.</p>
		</div>
		<hr>
	</div>
</section><!-- .b-content-section -->

{% comment %} RELATED CONTENT SECTION {% endcomment %}
<div class="background-subtle">
	<section class="b-content-section b-blog featured-list">
		<div class="row">
			<div class="column">
				<h2 class="e-section-title">Related Publications & News</h2>
			</div>
		</div>

		<div class="row two-column">
			<div>
				{% assign pubs = site.publications | where: "categories", "applied research lab" | reverse %}
				{% for pub in pubs limit:5 %}
					<div class="featured-item blog-item{% if forloop.last %} end{% endif %}">
						<a href="/publications#{{ pub.title | slugify }}">
							<article>
                  <div class="post-text">
                    <h3>{{ pub.title }}</h3>
                    <p>{{ pub.content | strip_html | truncatewords: 50 }}</p>
                  </div>
              </article>
						</a>
					</div>
				{% endfor %}

				<nav>
					<p class="navigation"><a href="/publications">View all publications</a></p>
				</nav>
			</div>

			<div>
				{% assign posts = site.posts | where: "categories", "applied research lab" %}
				{% for post in posts limit:5 %}
					<div class="featured-item blog-item{% if forloop.last %} end{% endif %}">
						<a href="{{ post.url }}">
							<article>
								<div class="post-text">
									<h3>{{ post.title }}</h3>
									{% if post.description !=null %}
										{{ post.description | markdownify }}
									{% else %}
										<p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
									{% endif %}
								</div>
              </article>
						</a>
					</div>
				{% endfor %}

				<nav>
					<p class="navigation"><a href="/blog">View all news</a></p>
				</nav>
			</div>

		</div><!--.row.two-column-->

	</section>
</div>
