---
title: Impact
layout: default
permalink: /impact/
---
<section class="b-content-section" id="impact">
	<div class="row">
		<div class="column">
			<h2 class="e-section-title">Impact</h2>
			<h4 class="text-center">OpenNorth has had an impact in a variety of local contexts internationally, with projects focused on using applied social science research to deliver impactful results for municipal officials and their citizens.</h4>
		</div>
	</div>
</section>

<div class="background-subtle" id="top">
	<section class="b-content-section featured-list two-column">
		<div class="row">
				{% assign featured = site.impacts | where:'featured', 'true' %}
				{% for item in featured reversed %}
					<div class="featured-item {% if forloop.last %} end{% endif %}">
						<a href="#{{ item.title | slugify }}">
							{% if item.image %}<div class="featured-image" style="background-image: url(/theme/img/impacts/{{ item.image }});"></div>{% endif %}
							<div class="featured-description">
								<h3 class="text-center">{{ item.title }}</h3>
								{% if item.testimonial %}<blockquote>{{ item.testimonial | markdownify }}</blockquote>{% endif %}
								<cite>
									{% if item.cite %}<span>{{ item.cite | markdownify }}</span>{% endif %}
								</cite>
								<p class="anchor-link text-center">Learn more</p>
							</div>
						</a>
					</div>
				{% endfor %}
		</div>
	</section>
</div>

<section class="b-content-section content-list">
	<div class="row">
	<ul>
		{% for item in site.impacts reversed %}
			<li>
				<h3 id="{{ item.title | slugify }}">{{ item.title }}</h3>
				{% if item.image %}<img src="/theme/img/impacts/{{ item.image }}">{% endif %}
				<p>{{ item.content | markdownify }}</p>
				{% if item.link %}<a href="{{ item.link }}" class="link">Learn more about the {{ item.title }}</a>{% endif %}
				<p class="text-right"><a href="#top" class="anchor">Top</a></p>
			</li>
		{% endfor %}
	</ul>
</div>
</section>
