---
title: Impact
layout: default
permalink: /impact/
---
<section class="b-content-section" id="impact">
	<div class="row">
		<div class="column">
			<h2 class="e-section-title">Impact</h2>
			<h4 class="text-center">OpenNorth has had an impact in a variety of local contexts internationally, with projects focused on using applied social science research to deliver impactful results for municipal officials and their citizens.</h4>
		</div>
	</div>
</section>

<div class="impact">
	<section class="b-content-section featured-list">
		<div class="row">
				{% assign featured = site.impacts | where:'featured', 'true' %}
				{% for item in featured %}
					<div class="featured-item columns{% if forloop.last %} end{% endif %}">
						<div class="content-image" style="background-image: url(/theme/img/impacts/{{ item.image }});"></div>
						<div class="content-description">
							<h3 class="text-center">
								<a href="#{{ item.title | slugify }}">{{ item.title }}</a></h3>
							<blockquote>{{ item.testimonial | markdownify }}</blockquote>
							<cite>
								{% if item.cite %}<span>{{ item.cite | markdownify }}</span>{% endif %}
							</cite>
							<a href="#{{ item.title | slugify }}" class="anchor-link text-center">Learn more</a>
						</div>
					</div>
				{% endfor %}
		</div>
	</section>
</div>

<section class="b-content-section content-list">
	<ul>
		{% for item in site.impacts %}
			<li>
				<h3 id="{{ item.title | slugify }}">{{ item.title }}</h3>
				<img src="/theme/img/impacts/{{ item.image }}">
				<p>{{ item.content | markdownify }}</p>
				<a href="{{ item.link }}" class="link">Learn more about the {{ item.title }}</a>
			</li>
		{% endfor %}
	</ul>
</section>
