---
title: Impact
layout: default
permalink: /impact/
---
<section class="b-content-section" id="impact">
	<div class="row">
		<div class="column">
			<h2 class="e-section-title">Impact</h2>
			<h4 class="text-center">OpenNorth has had an impact in a variety of local contexts internationally, with projects focused on using applied social science research to deliver impactful results for municipal officials and their citizens.</h4>
		</div>
	</div>
</section>
<section class="b-content-section featured-list">
	<div class="row">
			{% assign featured = site.impacts | where:'featured', 'true' %}
			{% for item in featured %}
				<div class="small-6 columns{% if forloop.last %} end{% endif %}">
					<div class="project-image" style="background-image: url(/theme/img/impacts/{{ item.image }});">
					</div>
					<div class="">
						<h3><a href="#{{ item.title | slugify }}">{{ item.title }}</a></h3>
						<blockquote>{{ item.testimonial | markdownify }}</blockquote>
						<cite><span>{{ item.cite }}</span>, {{ item.cite_details }}<span>{{ item.cite_emphasis }}</span></cite>
						<a href="#{{ item.title | slugify }}">Learn more</a>
					</div>
				</div>
			{% endfor %}
	</div>
</section>

<section class="b-content-section content-list">
	<h2>Full list</h2>
	<ul>
		{% for item in site.impacts %}
			<li>
				<h3 id="{{ item.title | slugify }}">{{ item.title }}</h3>
				<p>{{ item.content | markdownify }}</p>
			</li>
		{% endfor %}
	</ul>
</section>
