---
title: Newsroom
layout: default
permalink: /newsroom/
redirect_from:
  - /press
---
<section class="b-title-section" id="newsroom">
	<div class="row">
		<div class="column">
			<h2 class="e-page-title">Newsroom</h2>
			<p class="text-center">For all media inquiries, please email us at <a href="mailto:pressrequests@opennorth.ca">pressrequests@opennorth.ca</a>.<br />For fast facts about the organization and our future work, please also see a PDF with our press kit.</p>
			<div class="button text-center"><a href="https://docs.google.com/document/d/1De3Z9ety_qdnWRjaenCo394FBfS7B8pN03qXWKlhgS8/edit?usp=sharing" target="_blank">Download our Press Kit</a></div>
		</div>
	</div>
</section>

{% if site.categories contains 'press release' %}
<section class="b-content-section news content-list">
	<div class="row">
    <h2 class="e-section-title">Press Releases</h2>
		<ul>
			{% for post in site.posts %}
				{% if post.categories contains 'press release' %}
					<li>
						<a href="{{ post.url }}">{{ post.title }}</a><span> {{ post.date | date_to_long_string }}</span>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
  </div>
</section>
{% endif %}

<section class="b-content-section news content-list">
  <div class="row">
    <h2 class="e-section-title">In the News</h2>
    {% assign newsByYear =
        site.data.news | group_by_exp:"item", "item.pub_date | date: '%Y'" %}
    {% for year in newsByYear %}
      <h4>{{ year.name }}</h4>
        <ul>
          {% for newsitem in year.items %}
            <li><a href="{{ newsitem.link }}" target="_blank" rel="nofollow">{{ newsitem.title }} </a><span class="source">{{ newsitem.source }}. </span><span>{{ newsitem.pub_date | date_to_long_string }}.</span></li>
          {% endfor %}
        </ul>
    {% endfor %}
  </div>
</section>
