---
title: Newsletter
layout: default
permalink: /newsletter/
---
<section class="b-title-section" id="newsletter">
	<div class="row">
		<div class="column">
			<h2 class="e-page-title">Subscribe to our Newsletter</h2>
			<p class="text-center">Our newsletter reports on all of our latest news and expansion of the organization into its new mission. Sign-up to receive a digital link and PDF of it.</p>
			  <span class="button center"><a data-target="subscribe">Subscribe to our Newsletter</a></span>
		</div>
	</div>
</section>

<div class="background-subtle">
	<section class="b-content-section news b-blog featured-list">
		<div class="row">
				{% for post in site.posts %}
					{% if post.categories contains 'newsletter' %}

						{% include blog-list-article.html %}

					{% endif %}
		    {% endfor %}
	  </div>
	</section>
</div>
