---
title: Publications
layout: default
permalink: /publications/
---

<section class="b-content-section" id="reports">
	<div class="row">
		<div class="column">
			<h2 class="e-section-title">Publications</h2>
			<h4 class="text-center">OpenNorth has published a variety of papers and best practice guides with partners internationally that deliver impactful results for municipal officials and their citizens.</h4>
		</div>
	</div>
</section>

<section class="b-content-section featured-list">
	<div class="row">
		{% for item in site.publications %}
			<div class="small-6 columns{% if forloop.last %} end{% endif %}">
				<div class="project-image" style="background-image: url(/theme/img/publications/{{ item.cover_image }});"></div>
				<div>
					<h3><a href="#{{ item.title | slugify }}">{{ item.title }}</a></h3>
				</div>
			</div>
		{% endfor %}
	</div>
</section>

<section class="b-content-section content-list">
	<h2>Full list</h2>
	<div class="row">
		<ul>
			{% for item in site.publications %}
				<li>
					<h3 id="{{ item.title | slugify }}">{{ item.title }}</h3>
					<p>{{ item.content | markdownify }}</p>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
