<section class="call-to-action">
  <div class="row action-box">
    <div class="column small-12 medium-6">
      <span class="button important"><a href="/work-with-us">Work With Us</a></span>
    </div>
    <div class="column small-12 medium-6">
      <span class="button important"><a data-target="subscribe">Subscribe to our Newsletter</a></span>
    </div>
  </div>
  <div class="row socials text-center">
    <a href="https://twitter.com/opennorth" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
    <a href="https://www.facebook.com/OpenNorth.NordOuvert" target="_blank"><i class="fa fa-2x fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/open-north/" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a>
  </div>
</section>
