<section class="call-to-action">
  <div class="row action-box">
    <div class="column small-12 medium-6">
      <span class="button important">
        {% if page.url contains 'work-with-us' %}
          <a href="/current-jobs">Current Jobs</a>
        {% else %}
          <a href="/work-with-us">Work With Us</a>
        {% endif %}
      </span>
    </div>
    <div class="column small-12 medium-6">
      <span class="button important"><a href="/newsletter">Subscribe to our Newsletter</a></span>
    </div>
  </div>
  <div class="row socials text-center">
    <a href="https://twitter.com/opennorth" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.facebook.com/OpenNorth.NordOuvert" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/open-north/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
</section>
