<button onclick="downFunction" class="page-navigation-arrow pageDown" id="pageDown" style="display: none;" title="Go to main section"><i class="fas fa-arrow-circle-down"></i></button>

<button onclick="topFunction()" class="page-navigation-arrow pageUp" id="pageUp" style="display: none;" title="Go to top"><i class="fas fa-arrow-circle-up"></i></button>


<pre style="display: none;">
when user scrolls down:
* arrow appears (style="display: block;")
* clicking on arrow goes to next <section> element

when user scrollsup:
* arrow appears (style="display: block;")
* clicking on arrow goes to #top
</pre>
