<nav class="b-main-menu-list">
  <ul class="menu clearfix">
    <li class="has-children"><a class="e-menu-item" href="{{ site.baseurl }}/about"><span>About</span></a>
      <ul class="submenu">
        <li><a href="{{ site.baseurl }}/about#team"><span>Our Team</span></a></li>
      </ul>
    <li class="has-children"><a class="e-menu-item" href="{{ site.baseurl }}/what-we-do"><span>What We Do</span></a>
      <ul class="submenu">
        <li><a href="{{ site.baseurl }}/our-offer"><span>Our Offer</span></a></li>
        <li><a href="{{ site.baseurl }}/impact"><span>Impact</span></a></li>
        <li><a href="{{ site.baseurl }}/projects"><span>Current Projects</span></a></li>
        <li><a href="{{ site.baseurl }}/open-smart-cities-guide"><span>Open Smart Cities Guide</span></a></li>
        <li><a href="{{ site.baseurl }}/work-with-us"><span>Work With Us</span></a></li>
      </ul>
    </li>
    <li><a class="e-menu-item" href="http://www.citizenbudget.com/" target="_blank"><span>Citizen Budget</span></a></li>
    <li class="has-children"><a class="e-menu-item" href="{{ site.baseurl }}/blog"><span>Blog &amp; Publications</span></a>
      <ul class="submenu">
        <li><a href="{{ site.baseurl }}/blog"><span>Blog</span></a></li>
        <li><a href="{{ site.baseurl }}/publications"><span>Publications</span></a></li>
        <li><a href="{{ site.baseurl }}/resources"><span>Resources</span></a></li>
        <li><a data-target="subscribe"><span>Subscribe to our Newsletter</span></a></li>
      </ul>
    </li>
    <li><a class="e-menu-item" href="http://www.nordouvert.ca/"><span>FR</span></a></li>
  </ul>
</nav>
