.b-call-to-action {
  .e-call-to-action-title {
    text-align: center;
    color: $white_80;
    font-weight: 400;
    margin-bottom: 30px;
  }

  .button {
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid $white_30;
    color: $white;
    font-weight: 400;
    letter-spacing: 2px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .button:hover {
    background-color: $white_30;
  }
}

/* Subscribe */

.b-subscribe {
  input[type="email"] {
    border: 1px solid $white_30;
    border-right: 0;
    background-color: transparent;
    font-family: $sans-serif-font;
    font-size: 0.875rem;
    letter-spacing: 2px;
    font-weight: 400;
    color: $white;
    text-transform: uppercase;
    border-radius: 2px 0 0 2px;

    &::-webkit-input-placeholder { /* WebKit browsers */
        color: $white;
    }

    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: $white;
       opacity:  1;
    }

    &::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: $white;
       opacity:  1;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10+ */
       color: $white;
    }
  }

  input[type="email"]:focus {
    background-color: $white_10;
  }

  .button {
    border-radius: 0 2px 2px 0;
  }

  .button:hover {
    background-color: $white_30;
  }
}
