.b-slider {
  position: relative;
  overflow: hidden;
  padding-bottom: 35%;

  > ul {
    display: inline-block;
    margin: 0;
    width: 300%;
  }

  .b-slider-item {
    list-style: none;
    float: left;
    width: percentage(1 /3);
  }

  .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    margin-left: 0;
    text-align: center;

    li {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 7px;
      text-indent: -999em;
      background-color: $gray_15;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: $gray_45;
      }
      &.active {
        background-color: $primary_color;
      }
    }
  }
}
