.b-call-to-action {

	.e-call-to-action-title {
		text-align: center;
		color: $white_50;
		font-weight: 100;
		margin-bottom: 30px;
	}

	.button {
		border-radius: 2px;
		background-color: transparent;
		border: 1px solid $white_30;
		color: $white;
		font-weight: 100;
		letter-spacing: 2px;
		padding-left: 16px;
		padding-right: 16px;
	}

	.button:hover {
		background-color: $white_30;
	}	
}

/* Subscribe */
.b-subscribe {
	input[type="email"] {
		border: 1px solid $white_30;
		border-right: 0;
		background-color: transparent;
		font-family: $sans-serif-font;
		font-size: 1.2rem;
		letter-spacing: .5px;
		font-weight: 100;
		color: $white;
		border-radius: 2px 0 0 2px;
	}
	
	input[type="email"]:focus {
		background-color: $white_10;
	}

	.button {
		border-radius: 0 2px 2px 0;
	}

	.button:hover {
		background-color: $white_30;
	}
}

