/* Landing */
.b-landing {
	padding-top: 40px;
	padding-bottom: 40px;
	background: url(../img/cool-office-placeholder.jpg) no-repeat;
	background-size: cover;
	box-shadow: inset 0 0 15px $black;

	h1 { 
		color: $white;
		line-height: 1.65;

		span {
			background-color: $primary-color-dark-1_80;
			padding: 0 10px;
			line-height: .8;
		}
	}

}

// Large screens
@media only screen and (min-width: 64.063em) {

.b-landing {
	padding-top: 80px;
	padding-bottom: 110px;

	h1 { font-size: 4rem; }
}

}