---
layout: default
title: Open North Blog
---
<section class="b-title-section b-blog">
  <div class="row">
    <div class="column">
      <h2 class="e-page-title">Blog</h2>
      <p class="text-center">Get involved in the conversation with our municipal partners, citizens, and staff. On our blog you will find all the updates on our recent activities.</p>
    </div>
  </div>
</section>

<div class="background-subtle" id="top">
  <section class="b-content-section b-blog featured-list">
    <div class="row">
      {% for post in paginator.posts %}

        {% include blog-list-article.html %}

      {% endfor %}
    </div>
  </section>

  <section class="b-content-section post-navigation">

    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="prev">
          Prev
        </a>
      {% else %}
        <!--span>&laquo; Prev</span-->
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <em>{{ page }}</em>
        {% elsif page == 1 %}
          <a href="{{ paginator.previous_page_path | relative_url }}">
            {{ page }}
          </a>
        {% else %}
          <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">
            {{ page }}
          </a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="next">
          Next
        </a>
      {% else %}
        <!--span>Next &raquo;</span-->
      {% endif %}
    </div>
    {% endif %}

  </section>
</div>
