<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{ page.title }}</title>
<meta name="description" content="Open North creates websites to promote government transparency and public participation.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{ site.baseurl }}/theme/img/favicon/favicon.ico">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:300,500,300italic,500italic">
<link rel="stylesheet" href="{{ site.baseurl }}/theme/css/styles.css">
<script src="{{ site.baseurl }}/theme/js/vendor/modernizr.js"></script>
</head>
<body id="{{ site.language }}">

<section class="b-main-menu" role="navigation">
  <div class="e-main-menu-wrapper">
    <a href="#" class="e-main-menu-trigger js-menu-trigger"><i class="fa fa-2x fa-bars"></i></a>
    <h1 class="b-main-logo">
      {% if page.root %}<span>{% else %}<a href="{{ site.baseurl }}/">{% endif %}<img src="{{ site.baseurl }}/theme/img/open-north-logo-header-{{ site.language }}.png" alt="Open North">{% if page.root %}</span>{% else %}</a>{% endif %}
    </h1>
    <div class="b-main-menu-container">
      <div class="e-language-switcher">
        <a href="http://www.nordouvert.ca/">Français</a>
      </div>
      <nav class="b-main-menu-list">
        <a class="e-menu-item" href="{{ site.baseurl }}/#products"><span>Products</span></a><a class="e-menu-item" href="{{ site.baseurl }}/#services"><span>Services</span></a><a class="e-menu-item" href="{{ site.baseurl }}/#about"><span>About</span></a>
      </nav>
    </div>
  </div>
</section>

{{ content }}

<footer class="b-footer b-content-section">
  <div class="row">
    <div class="column e-footer-top-section">
      <img src="{{ site.baseurl }}/theme/img/open-north-logo-footer.png" alt="">
    </div>
    <div class="column e-footer-bottom-section">
      <a class="b-social-media" href="mailto:info@opennorth.ca"><i class="fa fa-lg fa-envelope"></i></a>
      <a class="b-social-media" href="https://www.facebook.com/OpenNorth.NordOuvert"><i class="fa fa-lg fa-facebook"></i></a>
      <a class="b-social-media" href="https://twitter.com/opennorth"><i class="fa fa-lg fa-twitter"></i></a>
      <a class="b-social-media" href="http://www.linkedin.com/groups/Open-Government-Canada-4206358?trk=myg_ugrp_ovr"><i class="fa fa-lg fa-linkedin"></i></a>
      <a class="b-social-media" href="https://github.com/opennorth/"><i class="fa fa-lg fa-github"></i></a>
    </div>
  </div>
</footer>

<script>
(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
e=o.createElement(i);r=o.getElementsByTagName(i)[0];
e.src='https://www.google-analytics.com/analytics.js';
r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
ga('create','UA-21866813-4','auto');ga('send','pageview');
</script>
</body>
</html>
