<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{ page.title }}</title>
<meta name="description" content="Open North creates websites to promote government transparency and public participation.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{ site.baseurl }}/theme/img/favicon/favicon.ico">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:300,500,300italic,500italic">
<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Yantramanav:400,300,500,700' >
<link rel="stylesheet" href="{{ site.baseurl }}/theme/css/styles.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
<script src="theme/js/vendor/modernizr.js"></script>
<script src="theme/js/vendor/jquery.scrollTo.min.js"></script>
<script src="theme/js/vendor/jquery.localScroll.min.js"></script>
<script src="theme/js/vendor/jquery.event.move.js"></script>
<script src="theme/js/vendor/jquery.event.swipe.js"></script>
<script src="theme/js/vendor/unslider.min.js"></script>
<script src="theme/js/scripts.js"></script>
<script src="dialogs/jquery.dialogOptions.js"></script>
<script>
  $(function() {
    //$('#subscribe, #donate').dialog({
    $('#subscribe').dialog({
      autoOpen: false,
      showTitleBar: false,
      showCloseButton: false,
      responsive: true,
      height: 'auto',
      width: 'auto',
      modal: true,
      resizable: false,
      dialogClass: 'subscribe-dialog'
    });
 
    $('a[data-target="subscribe"]').on('click', function() {
      console.log($(this).attr('data-target'));
      $('#subscribe').dialog('open');
    });

    /*
    $('a[data-target="donate"]').on('click', function() {
      console.log($(this).attr('data-target'));
      $('#donate').dialog('open');
    });
    */
  });
</script>
<style>
.b-news a {
  background-color: inherit;
}
.b-news a i:hover, .engage:hover {
  color: #fff;
}
.engage {
  font-size: 1rem;
  font-weight: 600;
  padding: 8px;
}
.b-news .fa, .engage {
  color: rgba(255, 255, 255, 0.7);
}
.b-news .medium-4 div {
  float: right;
}
.subscribe-dialog .button {
  text-transform: none;
  color: #c60000;
}
.subscribe-dialog .button:hover {
  color: #fff;
}
section {
  max-width: 1025px;
  margin-left: auto;
  margin-right: auto;
}
.e-section-title {
  margin-top: 20px;
}
.b-main-menu {
  border-bottom: solid #e0e0e0 2px;
  padding-bottom: 5px;
}
.col-header {
  padding: 0;
}
.col-header img {
  max-height: inherit;
}
strong {
  font-weight: 500;
}
.email a {
  padding: 0.5em 1em;
  background-color: rgba(150, 0, 0, 0.7);
  color: #ffffff;
  font-weight: 400;
}
.email a:hover {
  background-color: rgba(150, 0, 0, 0.5);
  color: #ffffff;
}
ul strong {
  font-weight: bold;
}

</style>

</head>
<body id="{{ site.language }}">

<!-- Dialog Box -->
<div id="subscribe">
  <form action="http://opennorth.us2.list-manage.com/subscribe/post?u=a602fac79ef3dc584bf1a2743&id=1e0c02fa29" method="post" target="_blank" class="form-inline">
    <h3 class="e-call-to-action-title">Subscribe to our newsletter</h3>
      <input type="email" name="EMAIL" required placeholder="Email">
      <input type="submit" name="subscribe" class="button postfix" value="Subscribe">
  </form>
</div>

<section class="b-main-menu" role="navigation">
  <div class="e-main-menu-wrapper">
    <a href="#" class="e-main-menu-trigger js-menu-trigger"><i class="fa fa-2x fa-bars"></i></a>
    <h1 class="b-main-logo">
      {% if page.root %}<span>{% else %}<a href="{{ site.baseurl }}/">{% endif %}<img src="{{ site.baseurl }}/theme/img/open-north-logo-header-black-{{ site.language }}.png" alt="Open North">{% if page.root %}</span>{% else %}</a>{% endif %}
    </h1>
    <div class="b-main-menu-container">
      <nav class="b-main-menu-list">
        <ul class="menu clearfix">
          <li><a class="e-menu-item" href="{{ site.baseurl }}/about"><span>About</span></a>
          <li class="has-children"><a class="e-menu-item" href="{{ site.baseurl }}/what-we-do"><span>What We Do</span></a>
            <ul class="submenu">
              <li><a href="{{ site.baseurl }}/our-offer"><span>Our Offer</span></a></li>
              <li><a href="{{ site.baseurl }}/impact"><span>Impact</span></a></li>
              <li><a href="{{ site.baseurl }}/projects"><span>Current Projects</span></a></li>
            </ul>
          </li>
          <li><a class="e-menu-item" href="http://www.citizenbudget.com/" target="_blank"><span>Citizen Budget</span></a></li>
          <li class="has-children"><a class="e-menu-item" href="{{ site.baseurl }}/archive"><span>Blog &amp; Publications</span></a>
            <ul class="submenu">
              <li><a href="{{ site.baseurl }}/archive"><span>Blog</span></a></li>
              <li><a href="{{ site.baseurl }}/publications"><span>Publications</span></a></li>
              <li><a href="{{ site.baseurl }}/resources"><span>Resources</span></a></li>
              <li><a data-target="subscribe"><span>Subscribe to our Newsletter</span></a></li>
            </ul>
          </li>
          <li><a class="e-menu-item" href="http://www.nordouvert.ca/"><span>FR</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>

{{ content }}

<footer class="b-footer b-content-section">
  <div class="row">
    <div class="column medium-5 e-footer-left-section">
      <img src="{{ site.baseurl }}/theme/img/open-north-logo-footer-{{ site.language }}.png" width="172" height="58" alt="">
      <span>5445 avenue de Gaspé, Suite 602</span>
      <span>Montréal, QC, Canada H2T 3B2</span>
      <span>1-888-750-4980</span>
      <span><a href="mailto:info@opennorth.ca">info@opennorth.ca</a></span>
    </div>
    <div class="column medium-7 e-footer-right-section">
      <h4>Follow Us</h4>
      <a class="b-social-media" href="mailto:info@opennorth.ca"><i class="fa fa-2x fa-at"></i></a>
      <a class="b-social-media" href="https://twitter.com/opennorth" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
      <a class="b-social-media" href="https://www.facebook.com/OpenNorth.NordOuvert" target="_blank"><i class="fa fa-2x fa-facebook"></i></a>
      <a class="b-social-media" href="https://www.linkedin.com/company/open-north/" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a>
      <a class="b-social-media" href="https://github.com/opennorth/" target="_blank"><i class="fa fa-2x fa-github"></i></a>
    </div>
  </div>
</footer>

</body>


<script>
(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
e=o.createElement(i);r=o.getElementsByTagName(i)[0];
e.src='https://www.google-analytics.com/analytics.js';
r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
ga('create','UA-21866813-4','auto');ga('send','pageview');
</script>

</html>
