---
layout: default
---
<section class="b-content-section b-blog">
  <div class="row">
    <div class="column">
      <article>
        <header>
          <h2>{{ page.title }}</h2>
          <p>
            <time datetime="{{ page.date }}">{{ page.date | date: "%B %e, %Y" }}</time>
            by <span rel="author">{{ page.author }}</span>
          </p>
        </header>

        {{ content }}
      </article>

      <p><a href="{{ site.baseurl }}/blog" rel="up">Read the archives</a></p>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
<script src="{{ site.baseurl }}/theme/js/scripts.js"></script>
<script src="/dialogs/jquery.dialogOptions.js"></script>
<script>
  $(function() {
    /*$('#subscribe').dialog({
      autoOpen: false,
      showTitleBar: false,
      showCloseButton: false,
      responsive: true,
      height: 'auto',
      width: 'auto',
      modal: true,
      resizable: false,
      dialogClass: 'subscribe-dialog'
    });
 
    $('a[data-target="subscribe"]').on('click', function() {
      console.log($(this).attr('data-target'));
      $('#subscribe').dialog('open');
    });

    */
  });
</script>
