---
layout: default
---
<section class="b-content-section b-blog">
  <div class="row">
    <div class="column">
      <article class="blog-post">
        <header>
          <h2>{{ page.title }}</h2>
          <p>
            <time datetime="{{ page.date }}">{{ page.date | date: "%B %e, %Y" }}</time>
            {% if page.author %}by <span rel="author">{{ page.author }}</span>{% endif %}
          </p>
        </header>

        {% if page.show_image == true %}
          {% if page.image contains "http" %}
            <figure class="blog-image">
              <img src="{{ page.image }}" class="center" />
              <figcaption>{{ page.caption }}</figcaption>
            </figure>
          {% elsif page.image == null %}

          {% else %}
          <figure class="blog-image">
            <img src="/theme/img/blog/{{ page.image }}" class="center" />
            <figcaption>{{ page.caption }}</figcaption>
          </figure>
          {% endif %}
        {% endif %}

        {{ content }}

      </article>

      <nav class="post-navigation">
        <hr />
        {% if page.categories contains 'press release' %}
            <p><a href="/newsroom">Visit the newsroom</a></p>
        {% endif %}

        {% if page.categories contains 'newsletter' %}
            <p><a href="/newsletter">Read past newsletters</a></p>
        {% endif %}

        {% comment %}
        {% if page.categories contains 'applied research lab' %}
            <!--p><a href="/applied-research-lab">Read more about the Applied Research Lab</a></p-->
        {% endif %}

        {% if page.categories contains 'one-to-one advisory service' %}
            <!--p><a href="/one-to-one-advisory-service">Read more about the One-to-One Advisory Service</a></p-->
        {% endif %}
        {% endcomment %}

        <p><a href="{{ site.baseurl }}/blog" rel="up">Read the archives</a></p>

        <hr />

        {% if page.next %}
          <p class="left next"><a href="{{ page.next.url }}">{{ page.next.title }}</a></p>
        {% endif %}

        {% if page.previous %}
          <p class="right previous"><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></p>
        {% endif %}
      </nav>
    </div>
  </div>
</section>
